<!-- views/pages/template.ejs -->

<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Raleway" rel="stylesheet">
	<title></title>
</head>
<style>

body {
 	background: #FFAFBD;  /* fallback for old browsers */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: -webkit-linear-gradient(to left, <%=gradient_one%>, <%=gradient_two%>);  /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to left, <%=gradient_one%>, <%=gradient_two%>); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.darken {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
}

.logo {
	width:100%;
	text-align:right;
	color: white;
	font-family: 'Patrick Hand SC', sans-serif;
	font-size: 40px;
	padding: 20px;
}

.quote{
	font-family: 'Raleway', cursive;
	color: white;
    text-align: center;
    font-size: 50px;
		width: 600px;
		padding: 20px;
}


</style>
<body>
	<div>
		<div class="quote darken">
			<%=post%>
			<span style="color: #881428"></span>
		</div>
		<div class="logo">
			#INSTARRED
		</div>
	</div>
</body>
</html>
